.blog-post-previews {
  margin: 0 auto;
  padding-top: 3em;
  max-width: 40.5em;
}

.blog-post-preview {
  padding-bottom: 1em;
  padding-top: 2em;
  position: relative;
}

.blog-post-preview + .blog-post-preview {
  margin-top: 1em;
}

.blog-post-preview__link {
  color: inherit;
  display: block;
  text-decoration: none;
}

.blog-post-preview__link:visited {
  color: #767681;
}

@media (prefers-color-scheme: dark) {
  .blog-post-preview__link:visited {
    color: #999;
  }
}

.blog-post-preview__link .blog-post-preview__title {
  text-decoration: underline;
  text-shadow: 1px 1px 0 #FFF, -1px 1px 0 #FFF;
}

.blog-post-preview__link:hover .blog-post-preview__title {
  text-decoration: none;
}

.blog-post-preview__title {
  font-size: 1em;
  margin: 0 0 1em;
}

@media screen and (min-width: 600px) {
  .blog-post-preview__date {
    left: 0;
    position: absolute;
    top: 2em;
  }

  .blog-post-preview__excerpt,
  .blog-post-preview__title {
    padding-left: 200px;
  }
}
