body {
	header {
		text-align: left;
	}
}

article {
	> h1 {
		@include font-size(72);
	}

	> section {
		margin-left: 18%;
	}
}

section {
	> p:first-child {
		@include font-size(28);
	}
}

p {
	@include font-size(21);
}

h1 {
	text-align: left;
	letter-spacing: 0.05em;
	padding-left: 18%;
}