body {
	header {
		font-style: italic;

		p {
			background: #333;
			border-radius: 50%;
			color: #fff;
			display: inline-block;
			@include font-size(28);
			margin-left: $gutterwidth;
			height: $baselineheight * 3;
			width: $baselineheight * 3;
			line-height: $baselineheight * 3;
			text-align: center;

			a {
				border: 0;
				color: inherit;
			}
		}
	}

	footer {
		padding-top: $baselineheight;
		text-align: center;
	}
}

h1 {
	text-align: center;

	a {
		border: 0;
	}

	& + p {
		@include font-size(28);
		max-width: 27em;
	}
}

p {
	@include font-size(21);
	margin-left: auto;
	margin-right: auto;
}

a {
	border-bottom: thin solid;
	text-decoration: none;
}