body {
	header {
		font-style: italic;
		text-align: center;

		p {
			background: #333;
			border-radius: 50%;
			color: #fff;
			display: inline-block;
			@include font-size(28);
			height: $baselineheight * 3;
			width: $baselineheight * 3;
			line-height: $baselineheight * 3;
			text-align: center;

			a {
				border: 0;
				color: inherit;
			}
		}
	}

	footer {
		padding-top: $baselineheight;
		text-align: center;

		> p {
			max-width: inherit;
		}
	}
}

h1 {
	text-align: center;

	a {
		border: 0;
	}
}

a {
	border-bottom: thin solid;
	text-decoration: none;
}