/* Page ===================================================================== */
$textcolor: rgb(15, 15, 15);

/* Transitions ============================================================== */

/* Typography =============================================================== */
$basefont: Arial, "Helvetica Neue", Helvetica, sans-serif;
$baselineheight: 1.5em;

$altfont: $basefont;

$baseheadingfont: $altfont;
$baseheadingfontweight: inherit;
$baseheadingfontcolor: $textcolor;

$codefont: Monaco, "Courier New", monospace;

/* Colour =================================================================== */
$basecolor: rgb(0, 0, 0);
$bordercolor: $basecolor;

$linkcolor: $basecolor;

/* Texture ================================================================== */

/* Elements ================================================================= */

/* Buttons ================================================================== */
$buttonbackground: $basecolor;
$buttoncolor: #fff;
$buttonborderwidth: 0;
$buttonborderradius: 2px;

/* Layout =================================================================== */
$baseline: $baselineheight;
$gutterwidth: $baselineheight * 1.618;

/* ========================================================================== */