html {
  background: #FBFBFB;
  color: #212131;
  font-family: 'Cardo', serif;
  font-size: 17px;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #ECECEC;
  }
}

body {
  padding: 0 1em 3em;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 24px;
  }

  body {
    padding: 0 3em 15em;
  }
}
